*{margin:0;padding:0;}/*左边距*/

ul {
list-style-type:none;}/*删除列表的标记*/

#nav {
background-color:#CCC;
width:240px;
height:40px;}/*一级列表背景的颜色、宽、高*/

#nav a {
display:block;
width:80px;
text-align:center;
color:#000FF0;
text-decoration:none;}/*一级列表中超链接的格式*/

#nav a:hover {
/*background-color:#FFFF00;*/
/*color:#FFF;*/
/*font-weight:bold;*/
} /*鼠标滑过时，一级列表变色，一级和二级列表中所有超链接都会变粗*/

#nav li{
float:left;
width:80px;
line-height:40px;}/*一级列表的浮动方向、宽度、行高、背景色*/

#nav li ul {
display:none;}/*二级列表一开始不显示*/

#nav li ul li{
/*background:#CCC url('111.png') no-repeat 0.4px ;*/
/*background-position:0px 5px; */
float:left;
width:80px;
/*background-color:#CCC;*/
margin:0;
text-align:center;}/*二级列表的浮动方向、宽、背景色、外边距、对齐是否居中*/

#nav li ul a {
text-align:center;
width:80px;
color:#000;}/*二级列表中超链接的格式*/

#nav li ul li a:hover {
color:#000;
/*background-color:#999;*/
}/*二级列表超链接，鼠标滑过时颜色和背景色变化*/

#nav li:hover ul {
display:block;} /*鼠标滑过一级列表后出现二级列表*/

#icon2 {
background-image:url('energy.png');
background-repeat:no-repeat;
background-size:20px 20px;
background-position:left center;
}
#icon2:hover {
background-color:#FFFF00;
background-image:url('wind.png');
background-repeat:no-repeat;
background-size:20px 20px;
background-position:left center;
}